:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* 自定义节点样式 */
.border-box, .node-container, .node-line, .label-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.node-container, .label-container {
  border: #1a1a1a solid 1px;
}
.font-md, .node-container, .label-container {
  font-size: 12px;
}
.font-lg {
  font-size: 24px;
}
.bg-black {
  background-color:#213547;
  color: white;
}
.bg-white, .node-container, .label-container {
  background-color: white;
  color: black;
}
.flex-column, .label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full-height, .label-container {
  height: 100%;
}

.node-line {
  height: 19px;
  line-height: 19px;
  text-align: center;
  border-bottom: black solid 1px;
}
.node-line:first-child {
  height: 20px;
  line-height: 20px;
}
.node-line:last-child {
  height: 20px;
  line-height: 20px;
  border-bottom: unset;
}

.p-l-sm {
  padding-left: 4px;
}

.label-line {
  text-align: center;
}

/*自定义锚点样式*/
.custom-anchor {
  stroke: #999;
  stroke-width: 1;
  fill: #d9d9d9;
  cursor: crosshair;
  rx: 3;
  ry: 3;
}
.custom-anchor:hover {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
.lf-node-not-allow .custom-anchor:hover {
  stroke: #999;
  fill: #d9d9d9;
  cursor: not-allowed;
}
.incoming-anchor {
  stroke: #d79b00;
}
.outgoing-anchor {
  stroke: #82b366;
}

/* 自定义Control Icon*/
.lf-control-zoomOut {
  background-image: url(./assets/svg/zoom-out.svg) !important;
}
.lf-control-zoomIn {
  background-image: url(./assets/svg/zoom-in.svg) !important;
}
.lf-control-undo {
  background-image: url(./assets/svg/undo.svg) !important;
}
.lf-control-redo {
  background-image: url(./assets/svg/redo.svg) !important;
}
.control-minimap {
  background-image: url(./assets/svg/preview.svg);
}
.control-redraw {
  background-image: url(./assets/svg/redraw.svg);
}
.control-import {
  background-image: url(./assets/svg/import.svg);
}
.control-export {
  background-image: url(./assets/svg/export.svg);
}
.control-snapshot {
  background-image: url(./assets/svg/snapshot.svg);
}
